{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ setting.title}}  {% endblock %}
{% block keywords %}   {{ setting.keywords}}  {% endblock %}


{% block content %}
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="{% static 'img/slider/slider-1.jpg' %}" alt="">
						<div class="slider_text_inner">
							<div class="container">
								<div class="row">
									<div class="col-lg-7">
										<div class="slider_text">
											<h2>Invest Your Savings And Earn<br />$1MILLION MONTHLY</h2>
											<p>The Business You Company is an Investment Company that doubles your investment in 1month and the way we are able to double your investment, is by investing it in our other digital and non digital platforms as capital to get it running, market or build it, which produce profits which are compiled on daily bases and summed up to pay out investors in 1month..</p>
											<a class="banner_btn" href="/about/">Explore Us</a>
											<a class="banner_btn2" href="#">Get Free Quote</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide"><img src="{% static 'img/slider/slider-1.jpg' %}" alt="">
						<div class="slider_text_inner">
							<div class="container">
								<div class="row">
									<div class="col-lg-7">
										<div class="slider_text">
											<h2>Fast Growing ICO 
                            Agency for <br />Blockchain
                            Investors and Founders</h2>
											<p>The Business You Company is an Investment Company that doubles your investment in 1month and the way we are able to double your investment, is by investing it in our other digital and non digital platforms as capital to get it running, market or build it, which produce profits which are compiled on daily bases and summed up to pay out investors in 1month..</p>
											<a class="banner_btn" href="/about/">Explore Us</a>
											<a class="banner_btn2" href="#">Get Free Quote</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide"><img src="{% static 'img/slider/slider-1.jpg' %}" alt="">
						<div class="slider_text_inner">
							<div class="container">
								<div class="row">
									<div class="col-lg-7">
										<div class="slider_text">
											<h2>We Combine <br />Business with Finance</h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											<a class="banner_btn" href="#">Explore Us</a>
											<a class="banner_btn2" href="#">Get Free Quote</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Mission Area =================-->
        <section class="mission_area">
			<div class="row m0">
				<div class="col-lg-6 p0">
					<div class="left_img"><img src="{% static 'img/mission-1.jpg' %}" alt=""></div>
				</div>
				<div class="col-lg-6 p0">
					<div class="mission_slider owl-carousel">
						<div class="item">
							<div class="mission_text">
								<h4>Double Your Investments in 1 month</h4>
								<p>Yes TBY doubles your investments in 1month and adds you special bonuses to how much you invest giving you the privilege to have up to 150% Return of Investments in 1 month.</p>
							</div>
							<div class="mission_text">
								<h4>Referral Network</h4>
								<p>The Business You Company has the best most outstanding Referral network, where you can earn from those who just invest with your referral name, and registering as a referral in TBY is completely FREE.</p>
							</div>
						</div>
						<div class="item">
							<div class="mission_text">
								<h4>Payouts on time and Reliability</h4>
								<p>TBY pays out all its investors on time and is very reliable. TBY also pays out all its referrals instantly,that is anyone who gets someone to invest with their referral name they instantly get paid referral bonuses to their Account.</p>
							</div>
							<div class="mission_text">
								<h4>Supports and Encourage Partnerships</h4>
								<p>TBY Supports and encourage business partnerships with other companies and platforms, developing businesses and building a sustainable income earning stream from its partnerships.</p>
							</div>
						</div>
						<div class="item">
							<div class="mission_text">
								<h4>Offers Legal Agreements</h4>
								<p>TBY offers its investors legal agreement, a document which states that TBY company took a certain amount from you</p>
							</div>
							<div class="mission_text">
								<h4>Road to Success</h4>
								<p>describing the date of investment, the specific purpose of the money relating to investments and date we will be paying you out double of your investments stated in the legal agreement.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
        </section>
        <!--================End Mission Area =================-->
        
        <!--================Success Area =================-->
        <section class="success_area">
        	<div class="row m0">
        		<div class="col-lg-6 p0">
        			<div class="mission_text">
						<h4>Road to Success</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore dolore magna aliqua enim minim veniam quis nostrud.</p>
					</div>
        		</div>
        		<div class="col-lg-6 p0">
        			<div class="success_img">
        				<img src="{% static 'img/success-1.jpg' %}" alt="">
        			</div>
        		</div>
        	</div>
        	<div class="row m0 right_dir">
        		<div class="col-lg-6 p0">
        			<div class="success_img">
        				<img src="{% static 'img/success-2.jpg' %}" alt="">
        			</div>
        		</div>
        		<div class="col-lg-6 p0">
        			<div class="mission_text">
						<h4>What Does The Business You Company
Do to pay investments?</h4>
						<p>The Business you Investment Company uses your investment as capital, marketing and building finance to support our digital platforms and companies which produce profits from which we use top pay you out.</p>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End Success Area =================-->
        
        <!--================Project Area =================-->
        <section class="project_area">
        	<div class="row m0">
        		<div class="col-lg-4 col-md-6 p0">
        			<div class="project_item">
        				<img src="{% static 'img/project/project-1.jpg' %}" alt="">
        				<div class="hover_text">
        					<h4>Technological <br />Investment</h4>
        					<div class="cat">
        						<a href="#">Technology</a>
        						<a href="#">Inovation</a>
        					</div>
        					<a class="main_btn" href="#">View More</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 p0">
        			<div class="project_item">
        				<img src="{% static 'img/project/project-2.jpg' %}" alt="">
        				<div class="hover_text">
        					<h4>Argricultural <br />investment</h4>
        					<div class="cat">
        						<a href="#">Exotic Agri</a>
        						<a href="#">People</a>
        					</div>
        					<a class="main_btn" href="#">View More</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 p0">
        			<div class="project_item">
        				<img src="{% static 'img/project/project-3.jpg' %}" alt="">
        				<div class="hover_text">
        					<h4>A Platform For Exchange <br />Cyrptocurrency And Shares</h4>
        					<div class="cat">
        						<a href="#">Cryptocurrency</a>
        						<a href="#">People</a>
        					</div>
        					<a class="main_btn" href="#">View More</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 p0">
        			<div class="project_item">
        				<img src="{% static 'img/project/project-4.jpg' %}" alt="">
        				<div class="hover_text">
        					<h4>Exotic <br />Mangrove</h4>
        					<div class="cat">
        						<a href="#">Lifestyle</a>
        						<a href="#">People</a>
        					</div>
        					<a class="main_btn" href="#">View More</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 p0">
        			<div class="project_item">
        				<img src="{% static 'img/project/project-5.jpg' %}" alt="">
        				<div class="hover_text">
        					<h4>Exotic <br />Mangrove</h4>
        					<div class="cat">
        						<a href="#">Lifestyle</a>
        						<a href="#">People</a>
        					</div>
        					<a class="main_btn" href="#">View More</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 p0">
        			<div class="project_item">
        				<img src="{% static 'img/project/project-6.jpg' %}" alt="">
        				<div class="hover_text">
        					<h4>Exotic <br />Mangrove</h4>
        					<div class="cat">
        						<a href="#">Lifestyle</a>
        						<a href="#">People</a>
        					</div>
        					<a class="main_btn" href="#">View More</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Project Area =================-->
        
        <!--================Team Area =================-->
        <section class="team_area">
        	<div class="team_slider owl-carousel">
        		<div class="item">
        			<div class="team_item">
        				<img src="{% static 'img/team/team-1.jpg' %}" alt="">
        				<div class="hover_text">
        					<a href="#"><h4>Glenn Watson</h4></a>
        					<p>Managing Director (Sales)</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</div>
        			</div>
        		</div>
        		<div class="item">
        			<div class="team_item">
        				<img src="{% static 'img/team/team-2.jpg' %}" alt="">
        				<div class="hover_text">
        					<a href="#"><h4>Eva Yates</h4></a>
        					<p>Managing Director (Sales)</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</div>
        			</div>
        		</div>
        		<div class="item">
        			<div class="team_item">
        				<img src="{% static 'img/team/team-3.jpg' %}" alt="">
        				<div class="hover_text">
        					<a href="#"><h4>Ethan Hopkins</h4></a>
        					<p>Managing Director (Sales)</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</div>
        			</div>
        		</div>
        		<div class="item">
        			<div class="team_item">
        				<img src="{% static 'img/team/team-4.jpg' %}" alt="">
        				<div class="hover_text">
        					<a href="#"><h4>Maud Graham</h4></a>
        					<p>Managing Director (Sales)</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Team Area =================-->
        
        <!--================Project Details Area =================-->
        <section class="project_know_area p_120">
        	<div class="container">
        		<div class="project_know_inner text-center">
        			<h3>Get to Know Project Estimate?</h3>
        			<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether that is on the deck</p>
        			<a class="white_btn" href="#">Get Free Estimate</a>
        		</div>
        	</div>
        </section>
        <!--================End Project Details Area =================-->
        
        <!--================Home Blog Area =================-->
        <section class="home_blog_area">
        	<div class="row m0">
        		<div class="col-lg-3 p0">
        			<div class="h_blog_img">
        				<img src="{% static 'img/home-blog/h-blog-1.jpg' %}" alt="">
        			</div>
        		</div>
        		<div class="col-lg-3 p0">
        			<div class="h_blog_text">
        				<a class="cat" href="#">25 june, 2018  |  By Mark Wiens</a>
        				<a href="#"><h4>Addiction When Gambling Becomes A Problem</h4></a>
        				<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops.</p>
        			</div>
        		</div>
        		<div class="col-lg-3 p0">
        			<div class="h_blog_img">
        				<img src="{% static 'img/home-blog/h-blog-2.jpg' %}" alt="">
        			</div>
        		</div>
        		<div class="col-lg-3 p0">
        			<div class="h_blog_text">
        				<a class="cat" href="#">25 june, 2018  |  By Mark Wiens</a>
        				<a href="#"><h4>Addiction When Gambling Becomes A Problem</h4></a>
        				<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops.</p>
        			</div>
        		</div>
        		<div class="col-lg-3 p0">
        			<div class="h_blog_text">
        				<a class="cat" href="#">25 june, 2018  |  By Mark Wiens</a>
        				<a href="#"><h4>Addiction When Gambling Becomes A Problem</h4></a>
        				<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops.</p>
        			</div>
        		</div>
        		<div class="col-lg-3 p0">
        			<div class="h_blog_img">
        				<img src="{% static 'img/home-blog/h-blog-3.jpg' %}" alt="">
        			</div>
        		</div>
        		<div class="col-lg-3 p0">
        			<div class="h_blog_text">
        				<a class="cat" href="#">25 june, 2018  |  By Mark Wiens</a>
        				<a href="#"><h4>Addiction When Gambling Becomes A Problem</h4></a>
        				<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops.</p>
        			</div>
        		</div>
        		<div class="col-lg-3 p0">
        			<div class="h_blog_img">
        				<img src="{% static 'img/home-blog/h-blog-4.jpg' %}" alt="">
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Home Blog Area =================-->



{% endblock %}